.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.img {
    margin-top: 20px;
}

.textoFrase {
    font-style: italic;
    color: #D2691E;
}

.Btn {
    margin-top: 20px;
}